<h1><%= @user.name %>'s Travel Bucket List</h1>
  <% @user.experiences.each do |e| %>
  <% country = Country.find(e.country_id) %>
    <ul>
      <li><a href='/experiences/<%= e.id %>'><%= e.description %></a> - <%= country.name %></li>
    </ul>
  <% end %>

<a href="/experiences/new"><input type="button" value="Add a new experience"></a>
<a href="/countries"><input type="button" value="View by Country"></a>
<a href="/categories"><input type="button" value="View by Category"></a>
<h1>Get Inspiration from Others</h1>
<% Experience.all.each do |e| %>
  <% unless e.user_id == @user.id %>
    <ul>
      <li><a href='/experiences/<%= e.id %>'><%= e.description %></a> - <%= e.country.name %></li>
    </ul>
  <% end %>
<% end %>
<input type="button" value="View all by Country">
<input type="button" value="View all by Category">
